$cBody: #ffffff;
$cFirst: #555555;
$cSecond: #eaf3ff;
$cThird: #f3ebdf;
$cBlack: #000000;
$cText: #142033;

* {
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: "Manrope";
    font-weight: 500;
    color: $cText;
}

.container {
    max-width: 1320px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
}

input {
    border: none;
    outline: none;
}

textarea {
    border: none;
    outline: none;
    resize: none;
}

body {
    background: $cBody;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

// .every__section {
//      padding-top: 100px;
// }

.router-link-exact-active {
    position: relative;
    &::before {
        content: "";
        position: absolute;
        bottom: -5px;
        left: -1px;
        right: -1px;
        // width: 100%;
        height: 2px;
        background: #555555;
    }
}

::-webkit-scrollbar {
    display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}
